* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	overscroll-behavior: none;
	background-image: url("../assets/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.grid {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 500px;
	max-height: 500px;
	margin-top: 20px;
	width: 90vw;
	height: 90vw;
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid rgb(233, 173, 42);
	border-radius: 4px;
}

.square {
	border: 1px solid rgb(233, 173, 42);
	width: 10%;
	height: 10%;
}

.mole {
	background-image: url("../assets/mole.svg");
	background-size: cover;
}

.play-btn {
	background-color: rgb(233, 173, 42);
	color: black;
	padding: 5px 20px;
	border: 1px solid black;
	border-radius: 3px;
	margin: 20px auto;
	display: block;
}

.hidden {
	visibility: hidden;
}

.score-board {
	font-size: 2.6em;
	text-align: center;
	-webkit-text-fill-color: rgb(233, 173, 42); /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}
